# compiled LaTeX stuff
*.aux
*.toc
*.lot
*.lof
*.log
*.out
*.bbl
*.blg

# converted files
*converted-to.pdf

# added by latexmk
*.fdb_latexmk
*.fls

*.DS_store

# minitoc
*.maf
*.mtc*

# tikz externalize
*.dpth
*.md5
*.auxlock

*.pdf

!figures/*.png
